__pycache__
.DS_Store
.ruff_cache
node.zip
!.gitkeep
references/*
!references/.gitkeep
target/ComfyUI-Blueprint-Diffusion/
!target/.gitkeep
docs/official/*
!docs/official/.gitkeep
docs/notes/*
!docs/notes/.gitkeep
docs/papers/*
!docs/papers/.gitkeep
backend/*
!backend/.gitkeep
*.pt
